.Subtitle{
    font-weight: bold;
    font-size: medium;
    font-size: large;
    
}

.moreBtn{
    /* border: 1.5px solid  ; */
    background-color: #96b6e3;
    border-radius: 15px;
    padding: 1px 10px;
    font-size: 12px;
    text-align: center;
    color: #f4f6f9;
}