

.fatherDivFilter{

    flex-direction: column;
    margin: 2px;
    /* background-color: #E7F0FF ; */
    height: 100%;
    width: 100%;
    padding: 0px;
    
}

.checkText{
    padding: 10px;
    font-size: 12px;
    
}

.FilterCategory{
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;
}

@media screen  and (max-width:370px){
    
    .checkText{
        padding: 2px;
        font-size: 9px;
        font-weight: bold;
        
    }

}